<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>empty</title>
</head>
<link rel="stylesheet" href="main.css">
<script src="bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css" />
<link rel="stylesheet" href="/modal_css/modal.css">

<body>
    <%- include('./sidenav/sidenav.ejs') %>

        <!-- your code here -->
        <center>
            <br>
            <div class="container">
                <div class="border p-3 rounded-3 shadow" style="max-width: 800px;">
                    <h1 class="text-center">เช็คเอาท์</h1>
                </div>
            </div>
            <br>
            <br>
            <div class="table-responsive" style="max-height: 100vh;">
                <table class="table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับที่</th>
                            <th scope="col">ห้องที่</th>
                            <th scope="col">วันเข้าพัก</th>
                            <th scope="col">วันเช็คเอาท์</th>
                            <th scope="col">เพิ่มเติม</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (stay.length===0) { %>
                            <tr>
                                <td colspan="5">
                                    <h2>ยังไม่มีการจองห้องพัก</h2>
                                </td>
                            </tr>
                            <% } else { %>
                                <% for (var i=0; i < stay.length; i++) { %>
                                    <tr>
                                        <td scope="row">
                                            <%= i %>
                                        </td>
                                        <td>
                                            <%= stay[i].num_room %>
                                        </td>
                                        <td>
                                            <%= stay[i].checkin %>
                                        </td>
                                        <td>
                                            <%= stay[i].checkout %>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-secondary" onclick="openModal('checkout_more_info'),show_checkout_more_info('<%= JSON.stringify(stay[i]) %>');">
                                                เพิ่มเติม
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="checkout_more_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-content-fit">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">ข้อมูลเพิ่มเติม</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4>ข้อมูลลูกค้า</h4>
                            <div class="table-responsive">
                                <table class="table modal-table">
                                    <tr>
                                        <td class="align-middle">
                                            <label for="checkout_cus_id">รหัสลูกค้า</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_cus_id" id="checkout_cus_id" readonly>
                                        </td>
                                        <td class="align-middle">
                                            <label for="checkout_f_name">ชื่อ-นามสกุล</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_f_name" id="checkout_f_name" readonly>
                                        </td>
                                        <td class="align-middle">
                                            <label for="checkout_card_num">เลขบัตรประชาชน</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_card_num" id="checkout_card_num" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <label for="checkout_p_num">เบอร์โทรติดต่อ</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_p_num" id="checkout_p_num" readonly>
                                        </td>
                                        <td class="align-middle">
                                            <label for="checkout_email">Email</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_email" id="checkout_email" readonly>
                                        </td>
                                    </tr>
                                </table>
                                <h4>ข้อมูลการจอง</h4>
                                <table class="table modal-table" id="checkout_data_table">
                                    <tr>
                                        <td class="align-middle">
                                            <label for="checkout_reserv_id">รหัสการจอง</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_reserv_id" id="checkout_reserv_id" readonly>
                                        </td>
                                        <td class="align-middle">
                                            <label for="checkout_room_number">เลขห้อง</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_room_number" id="checkout_room_number" readonly>
                                        </td>
                                        <td class="align-middle">
                                            <label for="checkout_room_type">ประเภทห้อง</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_room_type" id="checkout_room_type" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle">
                                            <label for="checkout_check_in">วันเข้าพัก</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_check_in" id="checkout_check_in" readonly>
                                        </td>
                                        <td class="align-middle">
                                            <label for="checkout_check_out">วันออก</label>
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" name="checkout_check_out" id="checkout_check_out" readonly>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-floating">
                                    เพิ่มเติม
                                    <br>
                                    <textarea class="form-control" placeholder="Enter your message here" id="checkout_more_info" rows="30" readonly></textarea>
                                    <label for="message"></label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </center>
        <%- include('./sidenav/sidenav_close.ejs') %>
            <%- include('./sidenav/sidenav_script.ejs') %>
                <%- include('./modal/main_modal.ejs')%>

</body>

</html>