<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="main.css">
<script src="bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css" />
<link rel="stylesheet" href="/modal_css/modal.css">

<body>
    <%- include('./sidenav/sidenav.ejs') %>


        <center>
            <br>
            <div class="container">
                <div class="border p-3 rounded-3 shadow" style="max-width: 800px;">
                    <h1 class="text-center">ประวัติการจองห้องทั้งหมด</h1>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="table-responsive" style="max-height: 100vh;">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">ลำดับที่</th>
                                <th scope="col">ห้องที่</th>
                                <th scope="col">วันเข้าพัก</th>
                                <th scope="col">วันเช็คเอาท์</th>
                                <th scope="col">เพิ่มเติม</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0;i<history.length;i++){ %>
                                <tr>
                                    <td scope="row ">
                                        <%= i %>
                                    </td>
                                    <td>
                                        <%= history[i].num_room %>
                                    </td>
                                    <td>
                                        <%= history[i].checkin %>
                                    </td>
                                    <td>
                                        <%= history[i].checkout %>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" onclick="openModal('history_more_info'),show_his_more_info('<%= JSON.stringify(history[i]) %>')">
                                            เพิ่มเติม
                                        </button>
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </center>

        <div class="modal fade" id="history_more_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-content-fit">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">ข้อมูลเพิ่มเติม</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>ข้อมูลลูกค้า</h4>
                        <div class="table-responsive">
                            <table class="table modal-table ">
                                <tr>
                                    <td class="align-middle">
                                        <label for="his_cus_id">รหัสลูกค้า</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_cus_id" id="his_cus_id" readonly>
                                    </td>
                                    <td class="align-middle">
                                        <label for="his_f_name">ชื่อ-นามสกุล</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_f_name" id="his_f_name" readonly>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <label for="his_p_num">เบอร์โทรติดต่อ</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_p_num" id="his_p_num" readonly>
                                    </td>
                                    <td class="align-middle">
                                        <label for="his_email">Email</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_email" id="his_email" readonly>
                                    </td>
                                </tr>
                            </table>
                            <h4>ข้อมูลการจอง</h4>
                            <table class="table modal-table" id="his_data_table">
                                <tr>
                                    <td class="align-middle">
                                        <label for="his_reserv_id">รหัสการจอง</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_reserv_id" id="his_reserv_id" readonly>
                                    </td>
                                    <td class="align-middle">
                                        <label for="his_room_number">เลขห้อง</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_room_number" id="his_room_number" readonly>
                                    </td>
                                    <td class="align-middle">
                                        <label for="his_room_type">ประเภทห้อง</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_room_type" id="his_room_type" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle">
                                        <label for="his_check_in">วันเข้าพัก</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_check_in" id="his_check_in" readonly>
                                    </td>
                                    <td class="align-middle">
                                        <label for="his_check_out">วันออก</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_check_out" id="his_check_out" readonly>
                                    </td>
                                    <td class="align-middle">
                                        <label for="his_status">สถานะ</label>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="his_status" id="his_status" readonly>
                                    </td>
                                </tr>
                            </table>
                            <div class="form-floating">
                                เพิ่มเติม
                                <br>
                                <textarea class="form-control" placeholder="Enter your message here" id="his_more_info" rows="30" readonly></textarea>
                                <label for="message"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function show_his_more_info(data) {
                var data = JSON.parse(data);
                document.getElementById("his_cus_id").value = data.id
                document.getElementById("his_f_name").value = data.f_name + " " + data.l_name
                document.getElementById("his_p_num").value = data.p_num
                document.getElementById("his_email").value = data.email
                document.getElementById("his_reserv_id").value = data.reserv_id
                document.getElementById("his_room_number").value = data.num_room
                document.getElementById("his_room_type").value = data.name_th + " " + data.bed
                document.getElementById("his_check_in").value = data.checkin
                document.getElementById("his_check_out").value = data.checkout
                document.getElementById("his_more_info").value = data.more_info
                var status_array = ['รอยืนยัน', 'ยืนยันแล้ว', 'รอตรวจสอบ', 'ตรวจสอบแล้ว', ' เช็คเอาท์แล้ว', 'ยกเลิก']
                document.getElementById("his_status").value = status_array[data.status]

            }
        </script>

        <%- include('./sidenav/sidenav_close.ejs') %>
            <%- include('./sidenav/sidenav_script.ejs') %>
                <%- include('./modal/main_modal.ejs')%>
</body>

</html>