<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="main.css">
<script src="bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css" />
<link rel="stylesheet" href="/modal_css/modal.css">
<!-- jquery -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"> -->



<body>
    <%- include('./sidenav/sidenav.ejs') %>


        <center>
            <br>
            <div class="container">
                <div class="border p-3 rounded-3 shadow container">
                    <h1>ประวัติการจองห้องทั้งหมด</h1>
                </div>
            </div>

            <br>
            <br>
            <div class="container" style="width: 50%;">
                <label for="search_input" class="form-label">ค้นหา:</label>
                <input type="text" id="search_input" class="form-control" placeholder="คำค้นหา">
            </div>
            <div class="container">
                <div class="table-responsive">
                    <div class="table-container">
                        <table class="table table-striped table-hover text-center align-middle" id="data_table">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับที่</th>
                                    <th scope="col">ห้องที่</th>
                                    <th scope="col">วันเข้าพัก</th>
                                    <th scope="col">วันเช็คเอาท์</th>
                                    <th scope="col">เพิ่มเติม</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(i=0;i<history.length;i++){ %>
                                    <tr>
                                        <td scope="row ">
                                            <%= i %>
                                        </td>
                                        <td>
                                            <%= history[i].num_room %>
                                        </td>
                                        <td>
                                            <%= history[i].checkin %>
                                        </td>
                                        <td>
                                            <%= history[i].checkout %>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-secondary" onclick="openModal('history_more_info'),show_his_more_info('<%= JSON.stringify(history[i]) %>')">
                                                เพิ่มเติม
                                            </button>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </center>

        <div class="modal fade " id="history_more_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-content-fit mw-100">
                <div class="modal-content">
                    <div class="modal-header sticky-top">
                        <h2 class="modal-title" id="exampleModalLabel">ข้อมูลเพิ่มเติม</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body " style="overflow-y: auto;">

                        <div id="his_customeInfo" class="card p-3">
                            <h4>ข้อมูลลูกค้า</h4>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label for="his_cus_id">รหัสลูกค้า</label>
                                    <input type="text" name="his_cus_id" id="his_cus_id" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="his_f_name">ชื่อ-นามสกุล</label>
                                    <input type="text" name="his_f_name" id="his_f_name" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="his_p_num">เบอร์โทรติดต่อ</label>
                                    <input type="text" name="his_p_num" id="his_p_num" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="his_email">Email</label>
                                    <input type="text" name="his_email" id="his_email" readonly class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label for="country">ประเทศ</label>
                                    <input class="form-control" type="text" name="country" id="country" readonly>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="his_reservInfo" class="card p-3">
                            <h4>ข้อมูลการจอง</h4>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <label for="his_reserv_id">รหัสการจอง</label>
                                    <input type="text" name="his_reserv_id" id="his_reserv_id" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="his_room_number">เลขห้อง</label>
                                    <input type="text" name="his_room_number" id="his_room_number" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="his_room_type">ประเภทห้อง</label>
                                    <input type="text" name="his_room_type" id="his_room_type" readonly class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <label for="his_check_in">วันเข้าพัก</label>
                                    <input type="text" name="his_check_in" id="his_check_in" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="his_check_out">วันออก</label>
                                    <input type="text" name="his_check_out" id="his_check_out" readonly class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="his_status">สถานะ</label>
                                    <input type="text" name="his_status" id="his_status" readonly class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label for="room_price">ราคาห้องพัก</label>
                                <input class="form-control" type="text" name="room_price" id="room_price" readonly>
                            </div>
                            <br>
                            <div id="service">
                                <h5>บริการเสริม</h5>
                                <div id="service_info"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <label for="total_price">ราคารวม</label>
                                    <input class="form-control" type="text" name="total_price" id="total_price" readonly>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="pay_type">ประเภทการชำระเงิน</label>
                                    <input class="form-control" type="text" name="pay_type" id="pay_type" readonly>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="pay_status">สถานะการชำระเงิน</label>
                                    <input class="form-control" type="text" name="pay_status" id="pay_status" readonly>
                                </div>
                            </div>
                            <br>
                            <div class="form-floating">
                                <h5>เพิ่มเติม</h5>
                                <textarea class="form-control" placeholder="Enter your message here" id="his_more_info" rows="30" readonly></textarea>
                                <label for="message"></label>
                            </div>
                        </div>
                        <br>
                        <div class="card p-3">
                            <div class="table-responsive">
                                <div id="more_info_section">
                                    <div class="form-floating" id='all_comment'>
                                        <h5>ประวัติลูกค้า</h5>
                                        <br>
                                        <div class="container">
                                            <table class="table table-striped table-hover text-center" id="cus_comment_table">
                                                <thead>
                                                    <tr>
                                                        <td>ลำดับที่</td>
                                                        <td>รายละเอียด</td>
                                                        <td>วันที่</td>
                                                        <td>ห้องเลขที่</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <h5>ข้อมูลการตรวจสอบห้องพัก</h5>
                                        <br>
                                        <div class="container">
                                            <table class="table table-striped table-hover text-center" id="room_comment_table">
                                                <thead>
                                                    <tr>
                                                        <td>ลำดับที่</td>
                                                        <td>รายละเอียด</td>
                                                        <td>วันที่</td>
                                                        <td>ห้องเลขที่</td>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer sticky-bottom">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> -->

        <script>
            // let table = new DataTable('#data_table');

            function show_his_more_info(data) {
                var data = JSON.parse(data);

                fetch("/get_service", {
                    method: "post",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        reserv_id: data.reserved_id
                    })
                }).then((response) => response.json()).then((body) => {

                    var service = body.service
                    var service_info = document.getElementById('service_info')
                    service_info.innerHTML = ''

                    var row = document.createElement('div')
                    row.classList.add('row')

                    for (i = 0; i < service.length; i++) {

                        var name_col = document.createElement('div')
                        name_col.classList.add('col-6', 'col-lg-2', 'col-md-2', 'col-sm-3', 'col-form-label', 'text-end')
                        name_col.innerHTML = service[i].name
                        name_col.id = 'servicename' + i
                        row.appendChild(name_col)

                        var price_col = document.createElement('div')
                        price_col.classList.add('col-6', 'col-lg-2', 'col-md-2', 'col-sm-3', 'col-form-label', 'text-start')
                        price_col.innerHTML = service[i].price
                        price_col.id = 'serviceprice' + i
                        row.appendChild(price_col)

                        service_info.appendChild(row)
                    }

                })
                fetch("/get_comment", {
                    method: "post",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        num_room: data.num_room,
                        cus_id: data.cus_id
                    })
                }).then((response) => response.json()).then((body) => {

                    var cus_coms = body.cus_coms
                    var cus_comment_tbody = document.getElementById('cus_comment_table').getElementsByTagName('tbody')[0];
                    cus_comment_tbody.innerHTML = ''
                    for (i = 0; i < cus_coms.length; i++) {
                        var newRow = cus_comment_tbody.insertRow();
                        var cell1 = newRow.insertCell(0);
                        var cell2 = newRow.insertCell(1);
                        var cell3 = newRow.insertCell(2);
                        var cell4 = newRow.insertCell(3);
                        cell1.innerHTML = i + 1;
                        cell2.innerHTML = cus_coms[i].detail;
                        cell3.innerHTML = cus_coms[i].date;
                        cell4.innerHTML = cus_coms[i].room_number;
                    }

                    var room_coms = body.room_coms
                    var room_comment_tbody = document.getElementById('room_comment_table').getElementsByTagName('tbody')[0];
                    room_comment_tbody.innerHTML = ''
                    for (i = 0; i < room_coms.length; i++) {
                        var newRow = room_comment_tbody.insertRow();
                        var cell1 = newRow.insertCell(0);
                        var cell2 = newRow.insertCell(1);
                        var cell3 = newRow.insertCell(2);
                        var cell4 = newRow.insertCell(3);
                        cell1.innerHTML = i + 1;
                        cell2.innerHTML = room_coms[i].detail;
                        cell3.innerHTML = room_coms[i].date;
                        cell4.innerHTML = room_coms[i].room_number;
                    }
                })

                document.getElementById("his_cus_id").value = data.id
                document.getElementById("his_f_name").value = data.f_name + " " + data.l_name
                document.getElementById("his_p_num").value = data.p_num
                document.getElementById("his_email").value = data.email
                document.getElementById("his_reserv_id").value = data.reserv_id
                document.getElementById("his_room_number").value = data.num_room
                document.getElementById("his_room_type").value = data.name_th + " " + data.bed
                document.getElementById("his_check_in").value = data.checkin
                document.getElementById("his_check_out").value = data.checkout
                document.getElementById("his_more_info").value = data.more_info


                document.getElementById("country").value = data.country
                document.getElementById("his_status").value = data.reserved_status
                document.getElementById("room_price").value = data.price

                document.getElementById("total_price").value = data.total_price
                document.getElementById("pay_type").value = data.pay_type
                var pay_status = document.getElementById("pay_status")
                pay_status.value = data.status_name
                    // console.log(data.status_class);
                pay_status.classList.add(data.status_class)

            }

            document.getElementById("search_input").addEventListener("input", function() {
                var searchValue = this.value.toLowerCase();
                var tableRows = document.querySelectorAll("#data_table tbody tr");

                tableRows.forEach(function(row) {
                    var rowData = row.textContent.toLowerCase();
                    if (rowData.includes(searchValue)) {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        </script>

        <%- include('./sidenav/sidenav_close.ejs') %>
            <%- include('./sidenav/sidenav_script.ejs') %>
                <%- include('./modal/main_modal.ejs')%>
</body>

</html>