<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta http="http" -="-" equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>hotel backend</title>

        <!-- import sweetalert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- import date picker -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/th.js"></script>

        <!-- <icon awesome> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0"/>

        <script src="https://kit.fontawesome.com/4dd06c2468.js" crossorigin="anonymous"></script>

        <!-- css import -->
        <link rel="stylesheet" href="body.css"/>
        <link rel="stylesheet" href="sidenav.css"/>
        <link rel="stylesheet" href="mainpage.css"/>
        <link rel="stylesheet" href="Typesection.css"/>
        <link rel="stylesheet" href="Roomsection.css"/>
        <link
        rel="stylesheet" href="addRoomsection.css">
    <!-- css import -->

    </head>

    <body>
        <!-- section -->

        <%- include('sidenav.ejs') %>

        <div class="main">
            <%- include('Roomsection.ejs') %>
            <%- include('editRoomsection.ejs') %>
            <%- include('addRoomsection.ejs') %>


            <%- include('Typesection.ejs') %>
            <%- include('editTypesection.ejs') %>
            <%- include('addTypesection.ejs') %>
        </div>
    </body>

    <script>
        // fix show section when you refresh webpage
        window.addEventListener("load", function () {
            let hash = location.hash; // get current hash location
            let id = hash.substring(1); // remove # from location
            if (id != (null || "" || "")) {
                document.querySelectorAll("section").forEach(function (element) {
                    element.style.display = "none";
                });
                showSection(id);
            } else {
                showSection("Typesection");
                window.location.hash = "Typesection";
            }
        });

        // JavaScript function to show a specific section
        function showSection(id) { // hide all sections
            document.querySelectorAll("section").forEach(function (element) {
                element.style.display = "none";
            });
            // show the selected section
            document.getElementById(id).style.display = "block";
        }
        // Listen for the hashchange event
        window.addEventListener("hashchange", function () { // Reload the page
            location.reload();
        });
    </script>

</html>
