<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./sidenav/sidenav.ejs') %>


        <center>
            <br>
            <div class="container">
                <div class="border p-3 rounded-3 shadow">
                    <h1 class="text-center">ประวัติการชำระเงิน</h1>
                </div>
            </div>
            <br>
            <br>
            <div class="container" style="width: 50%;">
                <label for="search_input" class="form-label">ค้นหา:</label>
                <input type="text" id="search_input" class="form-control" placeholder="คำค้นหา">
            </div>


            <div class="container">
                <div class="table-responsive" style="max-height: 100vh;">
                    <div class="table-container">
                        <table class="table table-striped table-hover text-center align-middle" id="payment_his">
                            <thead class="bg-white">
                                <tr>
                                    <th scope="col">รหัสการจองห้อง</th>
                                    <th scope="col">ห้อง</th>
                                    <th scope="col">ชื่อ-นามสกุล</th>
                                    <!-- <th scope="col">รหัสบัตรประชาชน</th> -->
                                    <th scope="col">เบอร์โทร</th>
                                    <th scope="col">email</th>
                                    <th scope="col">ประเภทการชำระเงิน</th>
                                    <th scope="col">ราคา</th>
                                    <th scope="col">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <% for(i=0;i<payment.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%= payment[0].reserv_code %>
                                        </td>
                                        <td>
                                            <%= payment[0].num_room %>
                                        </td>
                                        <td>
                                            <%= payment[0].f_name %>
                                                <%= payment[0].l_name%>
                                        </td>
                                        <td>
                                            <%= payment[0].p_num %>
                                        </td>
                                        <td>
                                            <%= payment[0].email %>
                                        </td>
                                        <td>
                                            <%= payment[0].pay_type %>
                                        </td>
                                        <td>
                                            <%= payment[0].total_price %>
                                        </td>
                                        <td class="<%= payment[0].status_class %>">
                                            <%= payment[0].status_name %>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </center>
        <script>
            document.getElementById("search_input").addEventListener("input", function() {
                var searchValue = this.value.toLowerCase();
                var tableRows = document.querySelectorAll("#payment_his tbody tr");

                tableRows.forEach(function(row) {
                    var rowData = row.textContent.toLowerCase();
                    if (rowData.includes(searchValue)) {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        </script>
        <%- include('./sidenav/sidenav_close.ejs') %>
            <%- include('./sidenav/sidenav_script.ejs') %>
</body>

</html>