<section id="Roomsection">
    <center>
        <h1>จัดการห้องพัก</h1>
        <table id="room_info">
            <tr>
                <th>ลำดับที่</th>
                <th>เลขที่ห้อง</th>
                <th>ประเภทห้อง</th>
                <th>ชั้นที่</th>
                <th>ดูข้อมูลเพิ่มเติม</th>
                <th>ลบ-แก้ไข</th>
            </tr>
            <%for(i=0;i<rooms.length;i++){%>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= rooms[i].num_room %>
                    </td>
                    <td>
                        <%= rooms[i].name_th %>(
                        <%= rooms[i].name %>)
                    </td>
                    <td>
                        <%= rooms[i].floor%>
                    </td>
                    <td>
                        <button>ดูข้อมูลเพิ่มเติม</button>
                    </td>
                    <td>
                        <button onclick="edit_rooms('<%= rooms[i].id %>')">แก้ไข</button>
                        <button onclick="delete_rooms('<%= rooms[i].id %>')">ลบ</button>
                    </td>
                </tr>
            <%}%>
        </table>
        <button class="add-button" onclick="add_rooms()">เพิ่มห้อง</button>
    </center>

    <script>
        function delete_rooms(id) {
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch("/delete_rooms", {
                        method: "post",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({id})
                    }).then((response) => response.json()).then((body) => {
                        Swal.fire({
                            icon: 'success',
                            title: 'ลบข้อมูลแล้ว',
                            showConfirmButton: false,
                            timer: 1500,
                            didClose: () => {
                                location.reload();
                            }
                        });
                    });
                }
            })
        }

        function edit_rooms(id) {
            showSection('editRoomsection')
        }

        function add_rooms() {
            var roomstype = <%- roomstype %>
            select = document.getElementById('type_room');
            for (i = 0; i < roomstype.length; i ++) {
                var opt = document.createElement('option');
                opt.value = roomstype[i].id;
                opt.innerHTML = roomstype[i].name_th + '(' + roomstype[i].name + ')'
                select.appendChild(opt);
            }

            showSection('addRoomsection')
        }
    </script>

</section>
