<section id="Typesection">
    <center>
        <h1>จัดการประเภทห้อง</h1>
        <table id="type_info">
            <tr>
                <th>ลำดับที่</th>
                <th>ประเภทห้อง</th>
                <th>ราคา</th>
                <th>ดูข้อมูลเพิ่มเติม</th>
                <th>ลบ-แก้ไข</th>
            </tr>
            <%for(i=0;i<roomstype.length;i++){%>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= roomstype[i].name_th %>
                            (
                            <%= roomstype[i].name %>)</td>
                    <td>
                        <%= roomstype[i].price %>
                    </td>
                    <td>
                        <button onclick="moreinfo('<%= roomstype[i].id %>')">เพิ่มเติม</button>
                    </td>
                    <td colspan="2">
                        <button onclick="edit_room_type('<%= roomstype[i].id %>')">แก้ไข</button>
                        <button onclick="delete_room_type('<%= roomstype[i].id %>')">ลบ</button>
                    </td>
                </tr>
                <%}%>
        </table>
    </center>

    <button class="my-button" onclick="add_type()">เพิ่มประเภทห้อง</button>

    <script>
        function moreinfo(id) {}

        function edit_room_type(id) {
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {

                    fetch("/get_edit_data", {
                        method: "post",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id
                        })
                    }).then((response) => response.json()).then((body) => {
                        console.log(body);
                        var type_info = body.type_info[0]
                        document.getElementById('edit_id').value = type_info.id
                        document.getElementById('edit_name_th').value = type_info.name_th
                        document.getElementById('edit_name').value = type_info.name
                        document.getElementById('edit_size').value = type_info.size
                        document.getElementById('edit_price').value = type_info.price
                        document.getElementById('edit_rm_dct').value = type_info.rm_dct

                        document.getElementById('edit_ex_bed').checked = (type_info.ex_bed === 1)
                        document.getElementById('edit_wifi').checked = (type_info.wifi === 1)
                        document.getElementById('edit_breakfast').checked = (type_info.breakfast === 1)
                        document.getElementById('edit_air_con').checked = (type_info.air_con === 1)
                        document.getElementById('edit_tv').checked = (type_info.tv === 1)
                        document.getElementById('edit_bath').checked = (type_info.bath === 1)
                        document.getElementById('edit_minifridge').checked = (type_info.minifridge === 1)
                        document.getElementById('edit_fitness').checked = (type_info.fitness === 1)
                        document.getElementById('edit_pool').checked = (type_info.pool === 1)
                        document.getElementById('edit_bar').checked = (type_info.bar === 1)


                    });
                    showSection('editTypesection')
                }
            })
        }

        function delete_room_type(id) {
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch("/delete_roomtype", {
                        method: "post",
                        headers: {
                            Accept: "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id
                        })
                    }).then((response) => response.json()).then((body) => {
                        Swal.fire({
                            icon: 'success',
                            title: 'ลบข้อมูลแล้ว',
                            showConfirmButton: false,
                            timer: 1500,
                            didClose: () => {
                                location.reload();
                            }
                        });
                    });

                }
            })
        }

        function add_type() {
            Swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    showSection('addTypesection')
                }
            })

        }
    </script>


</section>